
<!-- Main -->

<div class="container" style="align-content: center; padding:2em; box-sizing: border-box; border:1px solid black; background:#fff; height:100%; margin-top: 3em;">
        {% for blog in site.posts%}
       <a href="{{ blog.url | prepend: site.baseurl}}" >
       <div class="row" style="box-sizing: border-box;  border-radius: 10px; box-shadow:0 0 10px 0 #333; margin:1em;">
        <div class="col-sm-4 text-center" style="padding:0;">
                <img src="{{ blog.image | prepend: site.baseurl}}"  style="width:100%; height:100%; border-bottom-left-radius: 10px; border-top-left-radius: 10px;">                
        </div>
        <div class="col-sm-6"  style="padding:0.5em;">
            <h2 style="font-family: FontAwesome; color:#000; ">{{ blog.title }}</h2><br>
            <p>{{ blog.content | strip_html | truncatewords: 25 }}</p>
            {% for tags in blog.tags %}
                <span style="box-sizing: border-box; background:rgb(41, 103, 238); border-radius: 5px; color:#fff; padding:0.25em;"><i class="fa fa-tag" aria-hidden="true"></i>
                    {{tags}}</span>
            {% endfor %}<br><br>
            <span class="post-date" style="color:#333;"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{blog.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;</span><br>
            <span class="post-words"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;{% capture words %}{{ blog.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  
        </div>
       </div> 
        </a>
       {% endfor %}
    </div>
    
  